/* * {
    box-sizing: border-box;
} */

body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color:antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 1140px;
    margin: o auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(120, 140, 160);
    color: darkred;
    padding-top: 5%;
    padding-bottom: 1%;
    border-bottom: darkred double 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(120, 140, 160);
    color: darkred;
    border-top: darkred double 10px;
    font-size: 30px;
    padding-bottom: 2%;

}

h1 {
    font-size: 200%;
    margin-left: 8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 600px;
    background-color: cadetblue;
    border-radius: 16px;
    padding: 2%;
    margin-top: 2%;
}

a {
    color: antiquewhite;
}

a:hover {
    text-decoration: overline;
}

.subheader {
    background-image: radial-gradient(rgb(120, 140, 160), indigo);
    height: 50px;
    width: 100%;
    margin-bottom: 3%;
}

.prefooter {
    background-image: radial-gradient(rgb(120, 140, 160), indigo);
    height: 50px;
    width: 100%;
    margin-top: 3%;
}

#about {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    margin-bottom: 2%;
}

article {
    display: flex;
    margin-left: 20%;
    
}

aside img {
    max-width: 400px;
    max-height: 400px;
    margin-left: 2%;
    border-radius: 8%;
    box-shadow: 4px 4px slategray;

}

img:hover {
    scale: 1.1;
}

article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-right: 20%;
    line-height: 1.8;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkred;
    font-weight: 700;
    font-size: 200%;
    text-decoration:underline;
    margin-left: 8%;
}

h3 {
    font-size: 140%;
    margin: 2%;
    padding-left: 2%;
}

#worker {
    margin-left: 40px;
    padding: 4%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 2%
}

section img {
    width: 50%;
}

#bigger img {
    width: 75%;
}






    
